@import './variables';

.skills {
  height: 120vh;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;

  .col {
    display: flex;
    justify-content: center;
    flex: 1;
  }
}

.card {
 @include triple-effect-card;

  img {
    border-radius: 50%;
  }
}
