<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kennis</title>
    <link rel="icon" href="https://image.flaticon.com/icons/png/128/4127/4127852.png">
    <link rel="stylesheet" href="../assets/css/layout.css">
    <link rel="stylesheet" href="../assets/css/kennis.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li class="active"><a href="./kennis.html">Kennis SE</a></li>
            <li><a href="./contact.html">Contact</a></li>
        </ul>
    </nav>

    <header>
        <div class="header-title">
            <h1>Software Engineering</h1>
        </div>
        <video autoplay muted loop class="hero-video">
            <source src="../assets/video/home.mp4" type="video/mp4">
        </video>
    </header>

    <main>
        <section class="skills">
            <!-- Eerste rij -->
            <div class="flex-grid">
                <div class="col">
                    <div class="card">
                        <img src="https://cdn.iconscout.com/icon/free/png-64/html-5-1-1175208.png">
                        <h1>HTML</h1>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="https://cdn.iconscout.com/icon/free/png-64/css-131-722685.png">
                        <h1>CSS</h1>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="https://cdn.iconscout.com/icon/free/png-64/javascript-2752148-2284965.png">
                        <h1>Javascript</h1>
                    </div>
                </div>
            </div>
            <!-- Tweede rij -->
            <div class="flex-grid">
                <div class="col">
                    <div class="card">
                        <img src="https://cdn.iconscout.com/icon/free/png-64/php-2752101-2284918.png">
                        <h1>PHP</h1>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="https://cdn.iconscout.com/icon/free/png-64/laravel-3521540-2944958.png">
                        <h1>Laravel</h1>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="https://cdn.iconscout.com/icon/free/png-64/mysql-3628940-3030165.png">
                        <h1>MySQL</h1>
                    </div>
                </div>
            </div>
            <!-- Derde rij -->
            <div class="flex-grid">
                <div class="col">
                    <div class="card">
                        <img src="https://cdn.iconscout.com/icon/free/png-64/java-3628857-3029997.png">
                        <h1>Java</h1>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="https://cdn.iconscout.com/icon/free/png-64/nodejs-226032.png">
                        <h1>NodeJS</h1>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="https://cdn.iconscout.com/icon/free/png-64/python-3628999-3030224.png">
                        <h1>Python</h1>
                    </div>
                </div>
            </div>
        </section>
    </main>
   
    <footer>
        <div>
            <p>© Copyright 2021</p>
        </div>
    </footer>
</body>
</html>