/* De row die de 2 kolommen bevat */
.row{
    /* Genoeg padding om ruimte rond de element te creëren */
    padding: 40px;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
}

.col1{
    display: flex;
    justify-content: center;
}

.col1, .col2{
    flex: 50%;
    padding: 10px;
}

/* svg width naar 100% zodat de svg niet de hele width pakt van de pagina*/
.contact-svg > svg{
    width: 100%;
}

.col2  > p{
    color: white;
    vertical-align: baseline;
}


.card{
    width: 180px;
    /* Genoeg padding om ruimte rond de element te creëren */
    padding: 40px 20px 30px 20px;
    /* Margin 20px zodat de kaarten elkaar niet raken */
    margin: 20px;
    display: inline-block;
    background-color:#151515;
    color: white;
    text-align: center;
    border-radius: 50px;
    /* Meerder lagen shadows voor de kaart */
    box-shadow:  
    rgba(240, 46, 170, 0.2) 5px 5px, 
    rgba(240, 46, 170, 0.1) 10px 10px, 
    rgba(240, 46, 170, 0.05) 15px 15px; 
    border: 1px solid rgba(240, 46, 170, 0.4);
    /* 1s delay toegevoegd voor bij de off-hover */
    transition: 1s;
}

.card > img{
    border-radius: 50%;
}

.card:hover{
    /* Bij het hoveren beweegt de kaart 5% naar links en beweegt naar voren toe */
    transform: translateX(-5%) scale(1.1);
    /* 1s delay toegevoegd voor bij de hover */
    transition: 1s;
    /*Bij het hoveren komen er meerdere lagen shadows voor de kaart */
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, 
    rgba(240, 46, 170, 0.3) 10px 10px, 
    rgba(240, 46, 170, 0.2) 15px 15px, 
    rgba(240, 46, 170, 0.1) 20px 20px, 
    rgba(240, 46, 170, 0.05) 25px 25px;
}

.github-img{
    background-color: white;
}

.social-links{
    text-align: center;
}

/* Bounce effect toegevoegd aan de drie ronde elementen van de svg  */
.svgGroupOne{
    animation: bounce 5s linear infinite;
}

.svgGroupTwo{
    animation: bounce 9s linear infinite;
}

.svgGroupThree{
    animation: bounce 7s linear infinite;
}

/* Beweeg animatie toegevoegd aan de wolken */
.cloud1{
    animation: move 18s linear infinite;
}

.cloud2{
    animation: move 25s linear infinite;
}

.cloud3{
    animation: move 20s linear infinite;
}

.cloud4{
    animation: move 30s linear infinite;
}

.cloud5{
    animation: move 40s linear infinite;
}

.cloud6{
    animation: move 35s linear infinite;
}


@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-50px);
    }
}

@keyframes move {
    0% {
        transform: translateX(1000px);
    }
	100% {
        transform: translateX(-1000px);
    }
}
